/*body {
	background-image: url("../images/bgi2.jpg");
}
*/
.color {

	color: black;
}

.clr {
 	color: red;
}

.logo_text {
	padding-top: 10px;
	font-family: "Lora", serif;
	font-weight: 100px;
}

.text {
	font-family: "Lora",serif;
}

.image {
	border-radius: 4%;
	border-color: rgb(#000000);
	width: 300px;
	height: 224px;
	overflow: hidden;
}

.space {
	padding-top: 10px;
	font-family: "Lora",serif;
	font-weight: 100px;
}

@media screen and (max-width: 900px) {
	.image {
		width: 40%;
		height: auto;
	}
}
