.logo_text {
	padding-top: 10px;
	font-family: "Lora", serif;
	font-weight: 100px;
}

.text {
	font-family: "Lora",serif;
}

.image {
	width: 300px;
	height: 224px;
	overflow: hidden;
}

.space {
	padding-top: 10px;
	font-family: "Lora",serif;
	font-weight: 100px;
}

